$family: $font-primary;
$size: 16px;
$weight: normal;
$spacing: 0.05em;
$line: 1.5;
$pristine: $foreground;
$dirty: $foreground;
$touched: $foreground;
$valid: $foreground;
$invalid: $foreground-primary;
$pristine-negative: $foreground-negative;
$dirty-negative: $foreground-negative;
$touched-negative: $foreground-negative;
$valid-negative: $foreground-negative;
$invalid-negative: $foreground-primary;

fieldset,
.form {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
}

.form {
	// min-width: 375px;

	.title {
		margin-bottom: 25px;
		font-family: $font-secondary;
		font-size: 48px;
		line-height: 1.25;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		text-align: left;
		color: #000000;
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0;
		// padding: 10px 0 20px 0;
		padding: 50px 0 20px 0;

		&>*+* {
			margin-left: 10px;
		}

		@include media-down(xs) {
			justify-content: center;
		}
	}

	&__info {
		text-align: center;
		margin: 40px 0;
	}

	&__error {
		background: #fae6e6;
		color: #dc1215;
		text-align: center;
		padding: 5px;
		font-size: 16px;
		font-weight: $font-semibold;
	}
}

.form__fields {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	@include media-up(sm) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>div:not(.full) {
			@include as-col(6, 12, $gutter);

			&.control--textarea {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	@include media-down(xs) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>div:not(.full) {
			@include as-col(12, 12, $gutter);

			&.control--textarea {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	&>div.full {
		$gutter: 30px;
		@include as-col(12, 12, $gutter);
	}
}

.form__fields--large {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;

	@include media-up(lg) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>div:not(.full) {
			@include as-col(4, 12, $gutter);

			&.control--textarea {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	@include media-between(sm, md) {
		$gutter: 30px;
		margin-left: - $gutter / 2;
		margin-right: - $gutter / 2;

		&>div:not(.full) {
			@include as-col(6, 12, $gutter);

			&.control--textarea {
				@include as-col(12, 12, $gutter);
			}
		}
	}

	@include media-down(xs) {
		margin-left: 0;
		margin-right: 0;

		&>div:not(.full) {
			@include as-col(12, 12, 0);

			&.control--textarea {
				flex: 1 1 100%;
				max-width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&>div.full {
		$gutter: 30px;
		@include as-col(12, 12, $gutter);
	}
}

@import './_controls/_control';
@import './_controls/_text';
@import './_controls/_textarea';
@import './_controls/_select';
@import './_controls/_checkbox';
@import './_controls/_privacy';
@import './_controls/_checkfield';
@import './_controls/_forms-test';
