.control__field--select {
	@extend %control__field;
	position: relative;
	background: transparent;
	border-radius: 0;
	cursor: pointer;

	input {
		pointer-events: none;
	}

	.caret-down {
		width: 24px;
		height: 24px;
		pointer-events: none;
		margin-right: -7px;
	}

	@include media-down(xs) {
		margin: 0 0 10px 0;
	}
}

.control__select {
	@extend %control--text;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0;

	select {
		flex: 1 1 calc(100% - 20px);
		max-width: calc(100% - 20px);
		width: 100%;
		font-family: inherit;
		font-size: 16px;
		text-transform: none;
		line-height: 1.25;
		min-height: 24px;
		cursor: pointer;
		appearance: none;
		background: transparent;
		border: none;
		outline: none;
	}

	svg {
		flex: 0 0 20px;
		width: 10px;
		height: 6px;
		margin: 0 5px;
		margin-top: -3px;
		width: 10px;
		height: 6px;
		pointer-events: none;
	}

	.multiple>& {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: calc(100% - 23px);
	}
}
