$background: #ffffff;
$background-negative: #35302C;
$background-primary: #c57c51;
$background-secondary: #A19C96;
$background-tertiary: #d1cdca;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$background-disabled: #ffffff;
$background-dimmed: rgba(#ffffff, 0.08);
$foreground: #35302C;
$foreground-negative: #ffffff;
$foreground-primary: #c57c51;
$foreground-secondary: #A19C96;
$foreground-tertiary: #d1cdca;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$foreground-disabled: #000000;
$foreground-dimmed: rgba(#000000, 0.5);
$border: #35302C;
$shadow: rgba(53, 48, 44, .65);
$black-10: rgba(16, 16, 16, .1);
$black-20: rgba(16, 16, 16, .2);
$black-30: rgba(16, 16, 16, .3);
$black-40: rgba(16, 16, 16, .4);
$black-50: rgba(16, 16, 16, .5);
$black-60: rgba(16, 16, 16, .6);
$black-70: rgba(16, 16, 16, .7);
$black-80: rgba(16, 16, 16, .8);
$black-90: rgba(16, 16, 16, .9);
$fastest: 150ms;
$fast: 250ms;
$slow: 350ms;
