@font-face {
	font-family: 'Avant Garde';
	src: url('../fonts/avant-garde/AvantGarde-Book.otf') format('opentype'),
		url('../fonts/avant-garde/AvantGarde-Book.woff') format('woff'), url('../fonts/AvantGarde-Book.ttf') format('truetype'), url('../fonts/AvantGarde-Book.svg#AvantGarde-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
