@font-face {
	font-family: 'Bauer Bodoni';
	src: url('../fonts/bauer-bodoni/BauerBodoniBT-Roman.otf') format('opentype'),
		url('../fonts/bauer-bodoni/BauerBodoniBT-Roman.woff') format('woff'), url('../fonts/BauerBodoniBT-Roman.ttf') format('truetype'), url('../fonts/BauerBodoniBT-Roman.svg#BauerBodoniBT-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
