{% set base = "/vite-config/" %}
{% set title = "Vite Config" %}
{% set description = "Vite Config Description" %}
{% set url = "https://actarian.github.io/vite-config" %}
{% set image = "https://avatars.githubusercontent.com/u/1841442?s=460&u=9d963e264cc39206782c9e0dbfdbdb0c6d25b477&v=4" %}
{% set color = "#ffffff" %}
{% extends "src/templates/layout.html" %}
{% block main %}
  <div class="hero">
    <div class="container">
      <div class="hero__title">Contacts</div>
    </div>
  </div>
{% endblock %}
