{% set base = "/vite-config/" %}
{% set title = "Vite Config" %}
{% set description = "Vite Config Description" %}
{% set url = "https://actarian.github.io/vite-config" %}
{% set image = "https://avatars.githubusercontent.com/u/1841442?s=460&u=9d963e264cc39206782c9e0dbfdbdb0c6d25b477&v=4" %}
{% set color = "#ffffff" %}
{% extends "src/templates/layout.html" %}
{% block main %}

<!-- set item = { title: 'Contacts' } -->
<!-- include "src/templates/shared/hero.html" -->
{% include "src/templates/shared/slider.html" %}

<div class="section" data-section>
	<div class="container">
		<div class="section__content">
			<div class="section__time"></div>
			<div class="section__title" data-attr="{ id: 'id', title: 'title', alt: 'alt' }">I'm a component</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__content">
			<div class="section__title">If component</div>
			<div class="section__title">
				<span data-html="items.length"></span> is
				<span data-if="items.length % 2 == 0">pair</span>
				<span data-if="items.length % 2 != 0">odd</span>
			</div>
			<button type="button" class="btn--secondary" data-event="random">click</button>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__content">
			<div class="section__title">Each component</div>
			<div class="listing--items">
				<div class="listing__item" data-for="let item of items">
					<div data-html="item.title"></div>
				</div>
			</div>
			<button type="button" class="btn--secondary" data-event="random">click</button>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__content">
			<div class="section__title">Class component</div>
			<div class="section__title" data-class="{ red: items.length % 2 == 0, green: items.length % 2 != 0 }">
				<span data-html="items.length"></span> is <span data-html="(items.length % 2 == 0) ? 'red' : 'green'"></span>
			</div>
			<button type="button" class="btn--secondary" data-event="random">click</button>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__content">
			<div class="section__title">Style component</div>
			<div class="section__title" data-style="{ color: items.length % 2 == 0 ? 'yellow' : 'blue' }">
				<span data-html="items.length"></span> is <span data-html="(items.length % 2 == 0) ? 'yellow' : 'blue'"></span>
			</div>
			<button type="button" class="btn--secondary" data-event="random">click</button>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__content">
			<div class="section__title">Modal</div>
			<button type="button" class="btn--primary" data-event="modal">open</button>
		</div>
	</div>
</div>

<div class="section" lazy-section>
	<div class="container">
		<div class="section__content">
			<div class="section__time"></div>
			<div class="section__title">I'm a lazy loaded component</div>
		</div>
	</div>
</div>

<div class="section" data-section>
	<div class="container">
		<div class="section__content">
			<div class="section__time"></div>
			<div class="section__title">I'm a component</div>
		</div>
	</div>
</div>

<div class="section" lazy-section>
	<div class="container">
		<div class="section__content">
			<div class="section__time"></div>
			<div class="section__title">I'm a lazy loaded component</div>
		</div>
	</div>
</div>

<div class="section" data-section>
	<div class="container">
		<div class="section__content">
			<div class="section__time"></div>
			<div class="section__title">I'm a component</div>
		</div>
	</div>
</div>

{% endblock %}
